<div class="container-fluid mt-4">
    <div class="row">

        {{> account-layout}}

        <div class="col-sm-9">
            <div class="card">
                <h4 class="card-header d-flex justify-content-between container-fluid text-white bg-secondary">
                    Danh sách tài khoản
                </h4>
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center">Username</th>
                        <th scope="col" class="text-center">Loại user</th>
                        <th scope="col" class="text-center">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each this.userList}}
                        <tr class="align-middle">
                            <td scope="row" class="text-center">{{UserID}}</td>
                            <td scope="row" class="text-center">{{UserEmail}}</td>
                            <td class="text-center">{{UserName}}</td>
                            <td scope="row" class="text-center">
                                {{#if this.isSeller}}
                                    Seller
                                {{else}}
                                    Bidder
                                {{/if}}
                            </td>
                            <td class="text-sm-end">
                                <form method="post" id="">
                                    <button type="submit" class="btn btn-danger" formaction="/admin/editAcc/del" value="{{UserID}}" name="UserID" onclick="clickedDelete(event)">
                                        Xoá&nbsp;
                                        <i class="fa fa-trash-can" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{#section 'footer'}}
    <script>
        function clickedDelete(e) {
            if (!confirm('Xác nhận xoá tài khoản?')) {
                e.preventDefault();
            }
        }
    </script>
{{/section}}