<div class="container-fluid mt-4 mb-3">
    <div class="row">

        {{> account-layout}}

        <div class="col-sm-9">
            <div class="card">
                <h4 class="card-header d-flex justify-content-between container-fluid text-white bg-secondary">
                    Danh sách sản phẩm
                </h4>
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col" class="text-center">Tên sản phẩm</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each this.product}}
                        <tr class="align-middle">
                            <th scope="row" class="text-center">{{ProID}}</th>
                            <th scope="row" class="text-center"><img style="width: 120px;height: 120px;" src="/public/imgs/products/{{this.ProID}}/thumb.jpg"></th>
                            <td><a href="/detail/{{ProID}}" class="ProTittle">{{ProName}}</a></td>
                            <td class="text-sm-end">
                                <form method="post" id="deleteForm">
                                    <label>
                                        <input value="{{SellerID}}" name="SellerID" hidden>
                                        <input value="{{ProName}}" name="ProName" hidden>
                                    </label>
                                    <button type="submit" class="btn btn-danger" formaction="/admin/editPro" value="{{ProID}}" name="ProID" onclick="clickedDelete(event)">
                                        Xoá&nbsp;
                                        <i class="fa fa-trash-can" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{#section 'footer'}}
    <script>
        function clickedDelete(e) {
            if (!confirm('Xác nhận xoá sản phẩm?')) {
                e.preventDefault();
            }
        }
    </script>
{{/section}}