<div class="container-fluid mt-4">
    <div class="row">

        {{> account-layout}}

        <div class="col-sm-9">
            <div class="card">
                <h4 class="card-header d-flex justify-content-between container-fluid text-white bg-secondary">
                    Danh sách tài khoản bidder xin nâng cấp
                </h4>
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center">Username</th>
                        <th scope="col" class="text-center">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each this.userList}}
                        <tr class="align-middle">
                            <td class="text-center">{{UserID}}</td>
                            <td class="text-center">{{UserEmail}}</td>
                            <td class="text-center">{{UserName}}</td>
                            <td class="text-sm-end">
                                <form method="post" id="">
                                    <button type="submit" class="btn btn-outline-success"
                                            formaction="/admin/editAcc/upgrade" value="{{UserID}}" name="UserID">
                                        Phê duyệt&nbsp;
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </button>
                                    <button type="submit" class="btn btn-outline-danger"
                                            formaction="/admin/editAcc/notUpgrade" value="{{UserID}}" name="UserID">
                                        Xoá&nbsp;
                                        <i class="fa fa-trash-can" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{#section 'footer'}}
    <!--    <script>-->
    <!--        $('#deleteForm').submit(function() {-->
    <!--            const c = confirm("Xoá sản phẩm này?");-->
    <!--            console.log(c);-->
    <!--        });-->
    <!--    </script>-->
{{/section}}