<div class="container-fluid" id="profile-view">
    <div class="row">

        {{> account-layout}}

        <div class="col-sm-8">
            <div class="card">
                <h4 class="card-header text-center text-white bg-secondary">
                    Danh sách sản phẩm yêu thích
                </h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Mã Sản phẩm</th>
                        <th scope="col" class="text-center">&nbsp;</th>
                        <th scope="col" class="text-center">Mô tả khái quát</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col" class="text-center">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each products}}
                        <tr class="align-middle">
                            <th scope="row" class="text-center"><a href="/detail/{{this.ProID}}">{{this.ProID}}</a></th>
                            <td class="text-center"><img style="width: 120px;height: 120px;" src="/public/imgs/products/{{this.ProID}}/account.jpg"></td>
                            <td>{{this.TinyDes}}</td>
                            <td>
                                <div>{{format_number this.CurPrice}} đ</div>
                                {{#if this.Status}}
                                    <div>
                                        <strong style="color: mediumseagreen">Đang đấu giá</strong>
                                    </div>
                                {{else}}
                                    <div>
                                        <strong style="color: #F90716">Hết đấu giá</strong>
                                    </div>
                                {{/if}}
                            </td>
                            <form method="post" id="cancel-favorite">
                                <input name="ProID" value="{{this.ProID}}" type="hidden">
                                <td>
                                    <input type="submit" value="xóa" class="btn btn-danger">
                                </td>
                            </form>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                {{#if this.haveNextPage}}
                    <div class="card-footer">
                        <div class="d-flex justify-content-center">
                            <form method="post">
                                <input name="page" value="{{this.nextPage}}" type="hidden">
                                <button type="submit" class="btn btn-outline-primary" formaction="/account/favorite/loading">
                                    Tải thêm
                                </button>
                            </form>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{#section 'footer'}}
    <script>
        const ele =  document.getElementById("profile-view");
        let height = Math.max(window.innerHeight - (142 + 18),ele.offsetHeight);
        ele.style.height = height+"px";
        console.log(height);
    </script>
{{/section}}