<div class="container-fluid mt-4 mb-5">
    <div class="row">

        {{> account-layout}}

        <div class="col-sm-8">
            <div class="card">
                <h4 class="card-header text-center text-white bg-secondary">
                    Nội dung đánh giá
                </h4>
                <table class="table table-hover">
                    <tbody>
                    {{#each products}}
                        <tr class="align-middle">
                            <th scope="row" class="text-center"><a href="/detail/{{this.ProID}}">{{this.ProID}}</a></th>
                            <td class="text-center"><img style="width: 120px;height: 120px;" src="/public/imgs/products/{{this.ProID}}/account.jpg"></td>
                            <td>{{this.TinyDes}}</td>
                            <td>
                                <div>{{this.CurPrice}}</div>
                                {{#if this.Status}}
                                    <div>
                                        <strong>Đang đấu giá</strong>
                                    </div>
                                {{else}}
                                    <div>
                                        <strong>Hết đấu giá</strong>
                                    </div>
                                {{/if}}
                            </td>
                            <td><i class="far fa-trash-alt"></i></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>