<div class="container-fluid mt-4 mb-5">
    <div class="row profile-view">

        {{> account-layout}}

        <div class="col-sm-8">
            <div class="card">
                <h4 class="card-header text-center text-white bg-secondary">
                    Danh sách sản phẩm yêu thích
                </h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Mã Sản phẩm</th>
                        <th scope="col" class="text-center">&nbsp;</th>
                        <th scope="col" class="text-center">Mô tả khái quát</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col" class="text-center">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each products}}
                        <tr class="align-middle">
                            <th scope="row" class="text-center"><a href="/detail/{{this.ProID}}">{{this.ProID}}</a></th>
                            <td class="text-center"><img style="width: 120px;height: 120px;" src="/public/imgs/products/{{this.ProID}}/account.jpg"></td>
                            <td>{{this.TinyDes}}</td>
                            <td>
                                <div>{{format_number this.CurPrice}} đ</div>
                                {{#if this.Status}}
                                    <div>
                                        <strong style="color: mediumseagreen">Đang đấu giá</strong>
                                    </div>
                                {{else}}
                                    <div>
                                        <strong style="color: #F90716">Hết đấu giá</strong>
                                    </div>
                                {{/if}}
                            </td>
                            <form method="post" id="cancel-favorite">
                                <input name="ProID" value="{{this.ProID}}" type="hidden">
                            </form>
                            <td>
                                <div class="btn btn-danger">
                                    <i id="cancel" class="far fa-trash-alt" style="cursor: pointer"></i>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{#section 'footer'}}
    <script>
        $('#cancel').on('click', function (e) {
            $('#cancel-favorite').submit();
        });
    </script>
{{/section}}