<div class="container-fluid mt-4 profile-view">
    <div class="row">

        {{> account-layout}}

        <div class="col-sm-8">
            <div class="card">
                <h4 class="card-header text-center bg-secondary text-white">
                    Danh sách sản phẩm đã thắng
                </h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center">Sản phẩm</th>
                        <th scope="col" class="text-center">Tổng tiền</th>
                        <th scope="col" class="text-center">Ngày thắng</th>
                        <th scope="col" class="text-center">Đánh giá</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each products}}
                        <tr class="align-middle">
                            <th><img style="width: 120px;height: 120px;"
                                     src="/public/imgs/products/{{this.ProID}}/account.jpg"></th>
                            <td><a href="/detail/{{this.ProID}}" style="color: black">{{this.TinyDes}}</a></td>
                            <td class="text-center text-danger">{{format_number this.CurPrice}}</td>
                            <td class="text-center">{{format_date this.EndDate}}</td>
                            {{#if this.rating}}
                                <td class="text-center"><i class="fas fa-check-circle text-success"></i></td>
                            {{else}}
                                <td class="text-center"><a href="/account/ratingProduct/{{this.ProID}}"><i
                                        class="fas fa-hourglass-end text-primary"></i></a></td>
                            {{/if}}
                            <td></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>