<div class="container-fluid" id="profile-view">
    <div class="row">

        {{> account-layout}}

        <div class="col-sm-8">
            <div class="card">
                <div class="card-header text-white bg-secondary">
                    <h4 class="text-center">
                        Danh sách sản phẩm đang được đấu giá
                    </h4>

                </div>

                {{#unless sellerToBidder}}
                    <a class="btn btn-outline-primary" href="/seller/add">Thêm sản phẩm</a>
                {{/unless}}

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Mã sản phẩm</th>
                        <th scope="col" class="text-center">&nbsp;</th>
                        <th scope="col" class="text-center">Mô tả</th>
                        <th scope="col" class="text-center">Giá hiện tại</th>
                        <th scope="col" class="text-center">Ngày kết thúc</th>
                        <th scope="col" class="text-center">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each bidding}}
                        <tr class="align-middle">
                            <th class="text-center"><a href="/detail/{{this.ProID}}">{{this.ProID}}</a></th>
                            <th scope="row" class="text-center"><img style="width: 120px;height: 120px;" src="/public/imgs/products/{{this.ProID}}/account.jpg"></th>
                            <td>{{this.TinyDes}}</td>
                            <td class="text-center text-danger">{{format_number this.CurPrice}}</td>
                            <td class="text-center">{{format_date this.EndDate}}</td>
                            <td><a href="/detail/{{this.ProID}}" class="btn btn-outline-info"><i class="fas fa-pencil-alt"></i></a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

                {{#if this.haveNextPage}}
                    <div class="card-footer">
                        <div class="d-flex justify-content-center">
                            <form method="post">
                                <input name="page" value="{{this.nextPage}}" type="hidden">
                                <button type="submit" class="btn btn-outline-primary" formaction="/seller/bidding/loading">
                                    Tải thêm
                                </button>
                            </form>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>

    </div>
</div>




{{#section 'footer'}}
    <script>
        const ele =  document.getElementById("profile-view");
        let height = Math.max(window.innerHeight - (142 + 18),ele.offsetHeight);
        ele.style.height = height+"px";
    </script>
{{/section}}