{{#each data}}
    <div class="container mt-5 mb-5">
        <h4 class="text-center mb-3">
            {{this.title}}
        </h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5">
            {{#each this.product}}
                <div class="col">
                    <div class="card h-100">
                        <a href="/detail/{{this.ProID}}"><img src="/public/imgs/products/{{this.ProID}}/thumb.jpg" class="card-img-top" alt={{this.ProName}}></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2"><a href="/detail/{{this.ProID}}" class="ProTittle">{{this.ProName}}</a></h5>
                            <h5 class="text-info mb-2">
                                <i class="fa fa-gavel" aria-hidden="true"></i>
                                {{format_number this.CurPrice}}
                            </h5>
                            <h5 class="text-danger mb-2">
                                <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                {{format_number this.BuyNowPrice}}
                            </h5>
                            <p class="card-text">{{this.TinyDes}}</p>
                        </div>
                        <div class="card-footer text-center">
                            {{#if this.exp}}
                                <div class="text-danger">Sản phẩm hết hạn đấu giá</div>
                            {{else}}
                                <div class="text-danger">{{this.status}}</div>
                                <div>({{format_date this.EndDate}})</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}

{{#section 'footer'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        // $('#remaining').on('load',function () {
        //     var dataId = $(this).attr("data-id");
        //     console.log("The data-id of clicked item is: " + dataId);
        // })
        // function gettime(){
        //     var hour = new Date().getHours();
        //     var min = new Date().getMinutes();
        //     var sec = new Date().getSeconds();
        //     min = (min<10)?"0"+min:min;
        //     sec = (sec<10)?"0"+sec:sec;
        //     hour = (hour>12)?hour+12:"0"+hour;
        //     $('#remaining').text(dataId);
        //     setTimeout("gettime()",100);
        // }
        //
        // var dataId = moment($('#endDate').data("id")).format("DD/MM/YYYY, h:mm:ss A");
        // $('#remaining').text(dataId);
        // console.log($('.check').data("id"));
    </script>
{{/section}}