{{#each data}}
    <div class="container mt-5 mb-5">
        <h4 class="text-center mb-3">
            {{this.title}}
        </h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5">
            {{#each this.product}}
                <div class="col">
                    <div class="card h-100">
                        <a href="/detail"><img src="/public/imgs/products/{{this.ProID}}/thumb.jpg" class="card-img-top" alt={{this.ProName}}></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2"><a href="/detail/{{this.ProID}}" class="ProTittle">{{this.ProName}}</a></h5>
                            <h5 class="text-info mb-2">
                                <i class="fa fa-gavel" aria-hidden="true"></i>
                                {{format_number this.CurPrice}}
                            </h5>
                            <h5 class="text-danger mb-2">
                                <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                {{format_number this.BuyNowPrice}}
                            </h5>
                            <p class="card-text">{{this.TinyDes}}</p>
                        </div>
                        <div class="card-footer text-center">
                            <div class="text-danger">Kết thúc sau {{this.remaining}} giờ</div>
                            <div>({{format_date this.EndDate}})</div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}