{{#each data}}
    <div class="container mt-5 mb-5">
        <h4 class="text-center mb-3">
            {{this.title}}
        </h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5">
            {{#each this.product}}
                <div class="col">
                    <div class="card h-100">
                        <a href="/detail"><img src="/public/imgs/products/{{this.ProID}}/thumb.jpg" class="card-img-top" alt={{this.ProName}}></a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="/detail" class="ProTittle">{{this.ProName}}</a></h5>
                            <p class="mb-0 text-info">{{format_number this.CurPrice}}</p>
                            <p class="mb-0 text-danger">{{format_number this.BuyNowPrice}}</p>
                            <p class="card-text">{{this.TinyDes}}</p>
                        </div>
                        <div class="card-footer d-flex">
                            <p>{{format_date this.StartDate}}</p>
                            <p class="text-danger">còn lại {{this.remaining}} giờ</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}