{{#if mess}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{mess}}!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}


<div id="modal-sm" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title text-md">Xác nhận</div>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="p-4 text-center">
                    <p id="notification"></p>
                    <p id="priceNotification" class="text-danger fw-bolder"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="acceptNotification">
                    Đồng ý
                </button>
                <button type="button" class="btn btn-light" data-dismiss="modal" id="denyNotification">
                    Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {{#if isLogin}}
            <div class="proTittle">
                <form method="post" id="favorite" action="/favorite?ProID={{this.product.ProID}}
                &UserID={{account.UserID}}
                "></form>
                <div id="text" style="cursor: pointer;" class="ProDetail_Favorite">
                    {{#if favorite}}
                        Xoá khỏi sản phẩm yêu thích&nbsp;
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    {{else}}
                        Thêm vào sản phẩm yêu thích&nbsp;
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    {{/if}}
                </div>
            </div>
        {{/if}}
        <div class="col-sm-7 mt-4 d-flex justify-content-center">
            <div id="carouselExampleFade" class="carousel slide carousel-fade w-50" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each imgs}}
                        <div class="carousel-item {{#if this.first}}active{{/if}}">
                            <img src="/public/imgs/products/{{../product.ProID}}/detail/{{this.name}}"
                                 class="d-flex justify-content-center w-100" alt="{{../product.ProName}}">
                        </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: grey"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: grey"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-5 mt-4">
            <h5 class="proName mb-4">
                {{this.product.ProName}}
            </h5>
            {{#if isLogin}}
                <div class="mt-lg-3">
                    <div class="d-flex CurPrice">
                        <h5>Giá hiện tại</h5>
                        <h5 class="card-text text-info mb-2">
                            {{format_number this.product.CurPrice}}
                        </h5>
                    </div>
                </div>
                {{#if seller}}
                    <div class="d-flex StepPrice">
                        <p class="mb-2"><i>Bước giá</i></p>
                        <p class="mb-2"><i>{{format_number this.product.StepPrice}}</i></p>
                    </div>
                    <div class="d-flex StepPrice">
                        <h5>Giá mua ngay</h5>
                        <h5 class="text-danger">{{format_number this.product.BuyNowPrice}}</h5>
                    </div>
                    <p class="TinyDes mt-3">
                        {{this.product.TinyDes}}
                    </p>
                {{else}}
                    <div>
                        <div class="d-flex StepPrice">
                            <p><i>Bước giá</i></p>
                            <p><i>{{format_number this.product.StepPrice}}</i></p>
                        </div>
                        <p class="TinyDes">
                            {{this.product.TinyDes}}
                        </p>
                    </div>
                    <form method="post" id="formBid" action="/bid?ProID={{this.product.ProID}}">
                    <div class="d-flex" style="justify-content: space-between">
                        <button class="btn w-25" type="button" style="background-color: darkblue; color: white"
                                id="CurPrice" data-toggle="modal" data-target="#modal-sm"{{#if expire}}
                                disabled {{/if}}>
                            {{#if expire}}
                                Không thể đấu giá
                            {{else}}
                                <i class="fa fa-gavel"></i>&nbsp;&nbsp;Đặt giá
                            {{/if}}
                        </button>
                        <input type="text" class="form-control w-50" id="Price" name="Price" {{#if expire}}
                               disabled {{/if}}>
                    </div>
                    </form>
                    <h6 class="text-center mt-2 font-weight-bold">hoặc</h6>
                    <div class="">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-danger" type="button" id="PromptPrice" data-toggle="modal"
                                    data-target="#modal-sm"{{#if expire}} disabled {{/if}}>
                                {{#if expire}}
                                    Không thể đấu giá
                                {{else}}
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Mua Ngay
                                {{/if}}
                            </button>
                            <h5 class="font-weight-bold text-danger text-center">{{format_number
                                    this.product.BuyNowPrice}}</h5>
                        </div>
                    </div>
                {{/if}}
            {{else}}
                <div class="mt-lg-3">
                    <div class="d-flex CurPrice">
                        <h5>Giá hiện tại</h5>
                        <h5 class="card-text text-info mb-2">
                            {{format_number this.product.CurPrice}}
                        </h5>
                    </div>
                </div>
                <div class="d-flex StepPrice">
                    <p><i>Bước giá</i></p>
                    <p><i>{{format_number this.product.StepPrice}}</i></p>
                </div>
                <p class="TinyDes">
                    {{this.product.TinyDes}}
                </p>
            {{/if}}
        </div>
    </div>
    <div class="card mt-4 ProDetail_Info">
        <h4 class="card-header bg-secondary text-white">
            Thông tin sản phẩm
        </h4>
        <div class="card-body">
            <p class="card-text mt-1">
                <i class="fa fa-calendar-alt" style="color: darkslateblue"></i>
                Ngày đăng: {{format_date this.product.StartDate}}
            </p>
            <p class="">
                <i class="fa fa-clock" aria-hidden="true" style="color: darkslateblue"></i>
                Kết thúc: {{format_date this.product.EndDate}}
                {{#unless this.expire}}
                    (<span data-date="{{this.product.EndDate}}"
                           class="card-remaining"
                           style="color: black; font-size: 17px"></span>)
                {{/unless}}
            </p>
            {{#if this.isBid}}
                <p class="card-text">
                    <i class="fa fa-image-portrait" style="color: darkslateblue"></i>
                    &nbsp;Bidder giữ giá cao nhất:
                    {{this.topBidder.UserName}}
                    <span class="rating-seller">
                    ({{this.topBidder.UserRating}}%
                    <i class="fas fa-thumbs-up" style="color: blue"></i>)
                    </span>
                </p>
            {{/if}}
            <p class="card-text">
                <i class="fa fa-store-alt" style="color: darkslateblue"></i>
                <span>
                    &nbsp;Seller: {{this.Seller}}
                </span>
                <span class="rating-seller">
                    (80%&nbsp;<i class="fas fa-thumbs-up" style="color: blue"></i>)
                </span>
            </p>
            <p class="card mt-auto">
            <h4 class="card-header mt-2 bg-secondary text-white">Mô tả chi tiết</h4>
            <div class="card-body">
                <p class="card-text ProFullDes">
                    {{{this.product.FullDes}}}
                </p>
                {{#if seller}}
                    <form method="post" action="/detail/addFullDes">
                        <div class="card align-middle">
                            <div class="card-header text-center text-white bg-secondary">
                                <label for="FullDes" class="form-label mb-0">
                                    <h3>
                                        Thêm mô tả sản phẩm
                                    </h3>
                                </label>
                            </div>
                            <input type="hidden" name="ProID" value="{{product.ProID}}">
                            <textarea id="FullDes" name="FullDes"></textarea>
                            <input class="text-dark btn btn-outline-success" type="submit" value="Cập nhật">
                        </div>
                    </form>
                {{/if}}
            </div>
            </p>
            {{#if this.isBid}}
                <div class="card mt-auto">
                    <h4 class="card-header bg-secondary text-white">Lịch sử đấu giá của sản phẩm</h4>
                    <div class="card-body">
                        <div class="card-text">
                            <table class="table table-striped table-inverse table-responsive table-bordered text-center table-hover">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>Thời điểm</th>
                                    <th>Người mua</th>
                                    <th>Giá</th>
                                    {{#if seller}}
                                        {{#if expire}}
                                        {{else}}
                                            <th></th>
                                        {{/if}}
                                    {{/if}}
                                </tr>
                                </thead>
                                <tbody>
                                {{#each this.productHistory}}
                                    <tr>
                                        <td>{{format_date this.BidDate}}</td>
                                        <td>{{this.UserName}}</td>
                                        <td>{{format_number this.Price}}</td>
                                        {{#if ../seller}}
                                            {{#if ../expire}}
                                            {{else}}
                                                <td>
                                                    <form method="post">
                                                        <input name="ProID" value="{{../product.ProID}}" type="hidden">
                                                        <input name="BidderID" value="{{this.BidderID}}" type="hidden">
                                                        <button class="border-0 text-danger"
                                                                formaction="/detail/deleteUser">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            {{/if}}
                                        {{/if}}
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {{/if}}

            {{#if seller}}
                <div class="card mt-auto">
                    <h4 class="card-header text-white bg-secondary">Danh sách hàng chờ</h4>
                    <div class="card-body">
                        <div class="card-text">
                            <table class="table table-striped table-inverse table-responsive table-bordered text-center">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>ID người mua</th>
                                    <th>Tên người mua</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each pending_bidder}}
                                    <tr>
                                        <td>{{this.UserID}}</td>
                                        <td>{{this.UserName}}</td>
                                        <td>
                                            <div class="row">
                                                <form method="post">
                                                    <input type="hidden" name="BidderID" value="{{this.UserID}}">
                                                    <input type="hidden" name="ProID" value="{{../product.ProID}}">
                                                    <button class="border-0 text-success"
                                                            formaction="/detail/acceptPending">
                                                        <i class="fas fa-check-circle"></i>
                                                    </button>
                                                    <button class="border-0 text-danger"
                                                            formaction="/detail/denyPending">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="card mt-4 mb-5">
        <h4 class="card-header mb-2 text-white bg-secondary">
            Sản phẩm tương tự
        </h4>
        {{#if this.similarProduct}}
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="cards">
                        {{#each this.similarProduct}}
                            <div class="card">
                                <a href="/detail/{{this.ProID}}"><img
                                        src="/public/imgs/products/{{this.ProID}}/thumb.jpg" class="card-image"
                                        alt="{{this.ProName}}"></a>
                                <div class="card-content">
                                    <div class="card-top">
                                        <h3 class="card-title">
                                            <a href="/detail/{{this.ProID}}">{{this.ProName}}</a>
                                        </h3>
                                        <div class="card-body-detail">
                                            <div class="bidPrice"><i class="fa fa-gavel"
                                                                     aria-hidden="true"></i> {{format_number
                                                    this.CurPrice}}
                                                {{#if this.nameMaxBid}}
                                                    ({{this.nameMaxBid}})
                                                {{/if}}
                                            </div>
                                            <div class="promptPrice"><i class="fa fa-cart-arrow-down"
                                                                        aria-hidden="true"></i> {{format_number
                                                    this.BuyNowPrice}} (Mua ngay)
                                            </div>
                                            <div class="start-date-at-view">Đăng vào ngày: {{format_date this.StartDate}}</div>
                                        </div>
                                    </div>
                                    <div class="card-bottom">
                                        <div class="card-bid">
                                            <span>{{this.bid}} lượt đấu giá</span>
                                        </div>
                                        {{#if this.exp}}
                                            <div class="card-remaining text-danger">Hết hạn đấu giá</div>
                                        {{else}}
                                            <div class="card-remaining" data-date="{{this.EndDate}}"></div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{else}}
            <div class="d-flex justify-content-center">
                <img src="/public/assets/empty.png" alt="Empty">
            </div>
            <h5 class="text-center mb-5" style="color: #999999">Không có dữ liệu về sản phẩm</h5>
        {{/if}}
    </div>
</div>

{{#section 'header'}}
    <link rel="stylesheet" href="/public/css/detail.css">
{{/section}}

{{#section 'footer'}}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const elements = document.getElementsByClassName("card-remaining");
        for (let i = 0; i < elements.length; i++) {
            const check = elements[i].getAttribute("data-date");
            if (check === null) continue;
            setInterval(function () {
                const expire = moment(check);
                const now = moment();
                let diff = expire.diff(now, 'days');
                if (diff >= 1) elements[i].innerHTML = "Còn " + diff + " ngày";
                else {
                    diff = expire.diff(now, 'hours');
                    if (diff >= 1) elements[i].innerHTML = "Còn " + diff + " giờ";
                    else {
                        diff = expire.diff(now, 'minutes');
                        if (diff >= 1) elements[i].innerHTML = "Còn " + diff + " phút";
                        else elements[i].innerHTML = "Còn " + expire.diff(now, 'seconds') + " giây";
                    }
                }

            }, 1000);
        }
    </script>

    {{#if seller}}
        <script>
            tinymce.init({
                selector: '#FullDes',
                plugins: 'paste image link autolink lists table media',
                menubar: false,
                toolbar: [
                    'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link ',
                ],
            });
        </script>
    {{/if}}
    {{#if isLogin}}
        <script>
            $('#text').on('click', function (e) {
                $('#favorite').submit();
            });
            $('#formBid').on('submit', function (e) {
                e.preventDefault();

                {{#if expire}}
                {{else}}
                    const price = +$('#Price').val();
                    console.log(price);
                    let BidPrice;
                    if (price >{{product.BuyNowPrice}}) {
                        $('#Price').val({{product.BuyNowPrice}}+"");
                        BidPrice = {{product.BuyNowPrice}};
                    } else BidPrice = price;
                    if (BidPrice === {{product.BuyNowPrice}} || BidPrice >={{product.CurPrice}}+{{product.StepPrice}}) {
                        $('#formBid').off('submit').submit();
                    } else {
                        alert('giá bạn đưa ra nhỏ hơn giá đấu giá');
                    }
                {{/if}}
            });
                {{#if expire}}
                {{else}}
                $('#PromptPrice').on('click', function (e) {
                    $('#Price').val({{product.BuyNowPrice}}+"");


                    $('#notification').text("Bạn có muốn mua ngay: ");
                    $('#priceNotification').text(numeral({{product.BuyNowPrice}}).format('0,0'));
                });

                $('#CurPrice').on('click', function (e) {
                    $('#notification').text("Bạn có muốn đấu giá: ");
                    $('#priceNotification').text(numeral($('#Price').val()).format('0,0'));
                });
                $('#acceptNotification').on('click', function (e) {
                    $('#formBid').submit();
                });
                {{/if}}
        </script>
    {{/if}}
{{/section}}