{{#if mess}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{mess}}!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-7 mt-2">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/public/imgs/products/{{this.product.ProID}}/1.jpg" class="d-flex justify-content-center w-100" alt="{{this.product.ProName}}">
                    </div>
                    <div class="carousel-item">
                        <img src="/public/imgs/products/{{this.product.ProID}}/2.jpg" class="d-flex justify-content-center w-100" alt="{{this.product.ProName}}">
                    </div>
                    <div class="carousel-item">
                        <img src="/public/imgs/products/{{this.product.ProID}}/3.jpg" class="d-flex justify-content-center w-100" alt="{{this.product.ProName}}">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: grey;"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: grey"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-5">
            <h5 class="Name_item">
                {{this.product.ProName}}
            </h5>

            <div class="seller mt-1">
                <span class="name-seller ">
                    Seller: {{this.product.SellerID}}
                </span>
                <span class="rating-seller">
                    (80%
                    <i class="fas fa-thumbs-up" style="color: blue"></i>)
                </span>
                <form method="post" id="favorite" action="/favorite?ProID={{this.product.ProID}}&UserID={{account.UserID}}"></form>
                <span id="text" style="cursor: pointer;">
                    {{#if favorite}}
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    {{else}}
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    {{/if}}
                </span>
            </div>
            <div class="mt-lg-3">
                <div class="d-flex justify-content-between">
                    <h5>Giá hiện tại</h5>
                    <h5 class="card-text text-info mb-2">
                        {{format_number this.product.CurPrice}}
                    </h5>
                </div>
            </div>
            {{#if isLogin}}
                {{#if seller}}
                    <div>
                        <div class="d-flex justify-content-between">
                            <p><i>Bước giá</i></p>
                            <p><i>{{format_number this.product.StepPrice}}</i></p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <p>Mua Ngay</p>
                                <p class="text-danger"><b>{{format_number this.product.BuyNowPrice}}</b></p>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div>
                        <div class="d-flex justify-content-between">
                            <p><i>Bước giá</i></p>
                            <p><i>{{format_number this.product.StepPrice}}</i></p>
                        </div>
                    </div>
                    <form method="post" id="formBid" action="/bid?ProID={{this.product.ProID}}">
                    <div class="d-flex justify-content-evenly">
                        <button class="btn w-25" type="submit" style="background-color: darkblue; color: white" {{#if expire}} disabled {{/if}}>
                            {{#if expire}}
                                Không thể đấu giá
                            {{else}}
                                <i class="fa fa-gavel"></i>&nbsp;&nbsp;Đặt giá
                            {{/if}}
                        </button>
                        <input type="text" class="form-control w-50" id="Price" name="Price" {{#if expire}} disabled {{/if}}>
                    </div>
                    </form>
                    <h6 class="text-center mt-2 font-weight-bold">hoặc</h6>
                    <div class="">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-danger" type="button" id="PromptPrice" {{#if expire}} disabled {{/if}}>
                                {{#if expire}}
                                    Không thể đấu giá
                                {{else}}
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Mua Ngay
                                {{/if}}
                            </button>
                            <h5 class="font-weight-bold text-danger text-center">{{format_number this.product.BuyNowPrice}}</h5>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="card mt-4">
        <h4 class="card-header">
            Thông tin sản phẩm
        </h4>
        <div class="card-body">
            <p class="card-text mt-4">
                <i class="fa fa-calendar-alt" style="color: darkslateblue"></i>
                Ngày đăng: {{format_date this.product.StartDate}}
            </p>
            <p class="card-text">
                <i class="fa fa-clock" aria-hidden="true" style="color: darkslateblue"></i>
                Kết thúc: {{format_date this.product.EndDate}}
            </p>
            <p class="card-text">
                <i class="fa fa-image-portrait" style="color: darkslateblue"></i>
                Bidder giữ giá cao nhất: ****Griffin
                <span class="rating-seller">
                    (90%
                    <i class="fas fa-thumbs-up" style="color: blue"></i>)
                </span>
            </p>
            <p class="card mt-auto">
                <h4 class="card-header">Mô tả chi tiết</h4>
                <div class="card-body">
                    <p class="card-text">
                        {{{this.product.FullDes}}}
                    </p>
                </div>
            </p>
            <div class="card mt-auto">
                <h4 class="card-header">Lịch sử đấu giá của sản phẩm</h4>
                <div class="card-body">
                    <div class="card-text">
                        <table class="table table-striped table-inverse table-responsive table-bordered text-center">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Thời điểm</th>
                                <th>Người mua</th>
                                <th>Giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{format_date this.product.EndDate}}</td>
                                <td>******Billy</td>
                                <td>{{this.product.CurPrice}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {{#if seller}}
                <div class="card mt-auto">
                    <h4 class="card-header">Danh sách hàng chờ</h4>
                    <div class="card-body">
                        <div class="card-text">
                            <table class="table table-striped table-inverse table-responsive table-bordered text-center">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>ID người mua</th>
                                    <th>Tên người mua</th>
                                    <th> </th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each pending_bidder}}
                                    <tr>
                                        <td>{{this.UserID}}</td>
                                        <td>{{this.UserName}}</td>
                                        <td>
                                            <div class="row">
                                                <form method="post">
                                                    <input type="hidden" name="BidderID" value="{{this.UserID}}">
                                                    <input type="hidden" name="ProID" value="{{../product.ProID}}">
                                                    <button class="border-0 text-success" formaction="/detail/acceptPending">
                                                        <i class="fas fa-check-circle"></i>
                                                    </button>
                                                    <button class="border-0 text-danger" formaction="/detail/denyPending">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="card mt-4">
        <h4 class="card-header mb-2">
            Sản phẩm tương tự
        </h4>
        {{#if this.similarProduct}}
            <div class="card-body">
                <div class="row justify-content-center">
                    {{#each this.similarProduct}}
                        <div class="col-md-4 mb-3">
                            <div class="card h-100">
                                <a href="/detail/{{ProID}}"><img class="card-img-top" src="/public/imgs/products/{{ProID}}/thumb.jpg" alt="{{ProName}}" title="{{ProName}}"></a>
                                <div class="card-body">
                                    <a href="/detail/{{ProID}}" class="ProTittle"><h5 class="card-title">{{ProName}}</h5></a>
                                    <h5 class="card-text text-info mb-2">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        {{format_number this.CurPrice}}
                                    </h5>
                                    <h5 class="card-text text-danger mb-2">
                                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                        {{format_number this.BuyNowPrice}}
                                    </h5>
                                    <p class="card-text">{{TinyDes}}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="text-danger">Kết thúc sau {{this.remaining}} giờ</div>
                                    <div>({{format_date this.EndDate}})</div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{else}}
        <div class="card-body">
            <h5>Không có dữ liệu</h5>
        </div>
        {{/if}}
    </div>
</div>

{{#section 'footer'}}
    <script>
        $('#text').on('click',function (e){
            $('#favorite').submit();
        });

        $('#formBid').on('submit',function (e){
            e.preventDefault();
            const price = +$('#Price').val();
            let BidPrice;
            if(price>{{product.BuyNowPrice}}){
                $('#Price').val({{product.BuyNowPrice}}+"");
                BidPrice = {{product.BuyNowPrice}};
            }
            else BidPrice = price;
            if(BidPrice === {{product.BuyNowPrice}} || BidPrice>={{product.CurPrice}}+{{product.StepPrice}}){
                $('#formBid').off('submit').submit();
            }else{
                alert('giá bạn đưa ra nhỏ hơn giá đấu giá');
            }
        });

        $('#PromptPrice').on('click',function (e){
            $('#Price').val({{product.BuyNowPrice}}+"");
            $('#formBid').submit();
        });
    </script>
{{/section}}