<div class="row">
    <div class="col-sm-3 mt-3">
        <div class="card">
            <div class="card-header">
                Header
            </div>
            <div class="list-group list-group-flush">
                {{#each lcFindAll}}
                    <a href="/products/byCat/{{CatID}}" class="list-group-item list-group-item-action {{#if checkMenuLocal}} active {{/if}}">
                        {{CatName}}
                        {{#if ProductCounts}}
                            <span class="badge badge-pill badge-danger float-right">{{ProductCounts}}</span>
                        {{/if}}
                    </a>
                {{/each}}
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                Header
            </div>
            <div class="list-group list-group-flush">
                {{#each lcFindAll}}
                    <a href="/products/byCat/{{CatID}}" class="list-group-item list-group-item-action {{#if checkMenuLocal}} active {{/if}}">
                        {{CatName}}
                        {{#if ProductCounts}}
                            <span class="badge badge-pill badge-danger float-right">{{ProductCounts}}</span>
                        {{/if}}
                    </a>
                {{/each}}
            </div>
        </div>

    </div>
    <div class="col-sm-9 mt-3">

        <div class="card">
            <div class="card-header">

                <div class="row justify-content-between">
                    <div class="col-2">
                        <h4 class="card-title">Product</h4>
                    </div>
                    <div class="col-1 mr-3">
                        <a class="nav-link text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-sort-amount-down-alt"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="card-body">

                <div class="row">
                    {{#each data}}
                        <div class="col-sm-4 mb-3">
                            <div class="card h-100">
                                <img class="card-img-top" src="/imgs/sp/{{ProID}}/main_thumbs.jpg" title="{{ProName}}" alt="{{ProName}}">
                                <div class="card-body">
                                    <h4 class="card-title">{{ProName}}</h4>
                                    <h5 class="card-title text-danger">{{format_number Price}}</h5>
                                    <p class="card-text">{{TinyDes}}</p>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-outline-success" href="/products/details/{{ProID}}">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        Details
                                    </a>

                                    <a class="btn btn-outline-danger" href="/">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="card-footer text-muted">
                <nav aria-label="Page navigation">
                    footer
                </nav>
            </div>
        </div>
    </div>
</div>