<div class="card mt-4 d-flex">
    <h4 class="card-header d-flex">
        {{this.CatDeName}}
    </h4>
    <div class="card-body">
        {{#if this.empty}}
            <h5 class="card-title">Không có dữ liệu về sản phẩm</h5>
        {{else}}
            <div class="d-flex align-middle mt-3 card-header justify-content-end mb-4">
                <div>
                    <a class="btn btn-light" href="/views/byCatDe/{{this.CatDeID}}?sort=1&page=1">
                        <i class="fas fa-sort-amount-down"></i>
                        Giá cao đến thấp
                    </a>
                    <a class="btn btn-light" href="/views/byCatDe/{{this.CatDeID}}?sort=2&page=1">
                        <i class="fas fa-sort-amount-up"></i>
                        Giá thấp đến cao
                    </a>
                    <a class="btn btn-light" href="/views/byCatDe/{{this.CatDeID}}?sort=3&page=1">
                        <i class="fas fa-sort-amount-down"></i>
                        Thời gian kết thúc giảm dần
                    </a>
                    <a class="btn btn-light" href="/views/byCatDe/{{this.CatDeID}}?sort=4&page=1">
                        <i class="fas fa-sort-amount-up"></i>
                        Thời gian kết thúc tăng dần
                    </a>
                </div>
            </div>

            <div class="cards">
                {{#each this.products}}
                    <div class="card">
                        <a href="/detail/{{this.ProID}}"><img src="/public/imgs/products/{{this.ProID}}/thumb.jpg" class="card-image" alt="{{this.ProName}}"></a>
                        <div class="card-content">
                            <div class="card-top">
                                <h3 class="card-title">
                                    <a href="/detail/{{this.ProID}}">{{this.ProName}}</a>
                                </h3>
                                <div class="card-body">
                                    <div class="bidPrice"><i class="fa fa-gavel" aria-hidden="true"></i> {{format_number this.CurPrice}}  ({{this.nameMaxBid}})</div>
                                    <div class="promptPrice"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> {{format_number this.BuyNowPrice}} (Mua ngay)</div>
                                    <div class="startDate">{{format_date this.StartDate}}</div>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="card-bid">
                                    <span>{{this.bid}} lượt đấu giá</span>
                                </div>
                                {{#if this.exp}}
                                    <div class="card-remaining text-danger">hết hạn đấu giá</div>
                                {{else}}
                                    <div class="card-remaining">Còn 8 ngày</div>
                                {{/if}}

                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            {{#unless this.isOnePage}}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {{#unless this.isStart}}
                            <li class="page-item">
                                <a class="page-link" href="/views/byCatDe/{{this.CatDeID}}?sort={{this.sort}}&page={{this.previousPage}}">Previous</a>
                            </li>
                        {{/unless}}
                        {{#each this.pageNumbers}}
                            {{#if isCurrent}}
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:;">{{value}}</a>
                                </li>
                            {{else}}
                                <li class="page-item">
                                    <a class="page-link" href="?sort={{../this.sort}}&page={{this.nextPage}}">{{value}}</a>
                                </li>
                            {{/if}}
                        {{/each}}
                        {{#unless this.isEnd}}
                            <li class="page-item">
                                <a class="page-link" href="/views/byCatDe/{{this.CatDeID}}?sort={{this.sort}}&page={{this.nextPage}}">Next</a>
                            </li>
                        {{/unless}}
                    </ul>
                </nav>
            {{/unless}}
        {{/if}}
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{{#section 'header'}}
    <link rel="stylesheet" href="/public/css/viewByCatDetail.css">
{{/section}}