<div class="card mt-4 d-flex">
    <h4 class="card-header d-flex">
        {{this.CatDeName}}
    </h4>
    <div class="card-body">
        {{#if this.empty}}
            <h5 class="card-title">Không có dữ liệu về sản phẩm</h5>
        {{else}}
            <div class="row">
                {{#each this.products}}
                    <div class="col-sm-3 mb-4">
                        <div class="card h-100">
                            <a href="/detail"><img class="card-img-top" src="/public/imgs/products/{{ProID}}/thumb.jpg" alt="{{ProName}}" title="{{ProName}}"></a>
                            <div class="card-body">
                                <a href="/detail" class="ProTittle"><h5 class="card-title">{{ProName}}</h5></a>
                                <h5 class="text-info mb-2">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    {{format_number this.CurPrice}}
                                </h5>
                                <h5 class="text-danger mb-2">
                                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                    {{format_number this.BuyNowPrice}}
                                </h5>
                                <p class="card-text">{{TinyDes}}</p>
                            </div>
                            <div class="card-footer text-center">
                                <div class="text-danger">Kết thúc sau {{this.remaining}} giờ</div>
                                <div>({{format_date this.EndDate}})</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            {{#unless this.isOnePage}}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {{#unless this.isStart}}
                            <li class="page-item">
                                <a class="page-link" href="/views/byCatDe/{{this.CatDeID}}?page={{this.previousPage}}">Previous</a>
                            </li>
                        {{/unless}}
                        {{#each this.pageNumbers}}
                            {{#if isCurrent}}
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:;">{{value}}</a>
                                </li>
                            {{else}}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                            {{/if}}
                        {{/each}}
                        {{#unless this.isEnd}}
                            <li class="page-item">
                                <a class="page-link" href="/views/byCatDe/{{this.CatDeID}}?page={{this.nextPage}}">Next</a>
                            </li>
                        {{/unless}}
                    </ul>
                </nav>
            {{/unless}}
        {{/if}}
    </div>
    <div class="card-footer text-muted">
    </div>
</div>