{{#section 'header'}}
    <style>
        .btn-light{
            border-radius: 20px;
        }
    </style>
{{/section}}

<div class="card mt-4 d-flex">
    <div class="d-flex align-middle mt-3 card-header justify-content-evenly">
        <h4>
            Kết quả tìm kiếm với từ khoá: '{{query}}'
        </h4>
        <div>
            <a class="btn btn-light" href="/views/{{query}}?sort=1&page=1">
                <i class="fas fa-sort-amount-down"></i>
                Giá cao đến thấp
            </a>
            <a class="btn btn-light" href="/views/{{query}}?sort=2&page=1">
                <i class="fas fa-sort-amount-up"></i>
                Giá thấp đến cao
            </a>
            <a class="btn btn-light" href="/views/{{query}}?sort=3&page=1">
                <i class="fas fa-sort-amount-down"></i>
                Thời gian kết thúc giảm dần
            </a>
            <a class="btn btn-light" href="/views/{{query}}?sort=4&page=1">
                <i class="fas fa-sort-amount-up"></i>
                Thời gian kết thúc tăng dần
            </a>
        </div>
    </div>
    <div class="card-body">
        {{#if products}}
            <div class="row">
                {{#each products}}
                    <div class="col-sm-3 mb-3">
                        <div class="card h-100">
                            <a href="/detail"><img class="card-img-top" src="/public/imgs/products/{{this.ProID}}/thumb.jpg" alt="{{this.ProName}}" title="{{this.ProName}}"></a>
                            <div class="card-body">
                                <a href="/detail" class="ProTittle"><h5 class="card-title">{{ProName}}</h5></a>
                                <h5 class="text-info mb-2">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    {{format_number this.CurPrice}}
                                </h5>
                                <h5 class="text-danger mb-2">
                                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                    {{format_number this.BuyNowPrice}}
                                </h5>
                                <p class="card-text">{{TinyDes}}</p>
                            </div>
                            <div class="card-footer text-center">
                                <div class="text-danger">Kết thúc sau {{this.remaining}} giờ</div>
                                <div>({{format_date this.EndDate}})</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            {{#unless this.isOnePage}}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {{#unless this.isStart}}
                            <li class="page-item">
                                <a class="page-link" href="/views/{{this.query}}?sort={{this.sort}}&page={{this.previousPage}}">Previous</a>
                            </li>
                        {{/unless}}
                        {{#each this.pageNumbers}}
                            {{#if isCurrent}}
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:;">{{value}}</a>
                                </li>
                            {{else}}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                            {{/if}}
                        {{/each}}
                        {{#unless this.isEnd}}
                            <li class="page-item">
                                <a class="page-link" href="/views/{{this.query}}?sort={{this.sort}}&page={{this.nextPage}}">Next</a>
                            </li>
                        {{/unless}}
                    </ul>
                </nav>
            {{/unless}}
        {{else}}
            <h5 class="card-title">Không có dữ liệu về sản phẩm</h5>
        {{/if}}
    </div>
    <div class="card-footer text-muted">
    </div>
</div>